*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Merriweather', serif;
}

#background.img-fluid{
    background-image:url(images/sunset-3875817_640.jpg);  
  background-position:center;
  background-size:cover;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  backdrop-filter:blur(2px);
}


.glass{
    width: 75%;
    height:60%;
    box-shadow:0 0 10px rgba(255,255,255,1);
    background-image:url(images/sunset-3875817_640.jpg);
    background-size:cover;
}
 
nav{
  display:flex;
  padding:30px 8%;
}
nav ul{
  flex:1;
  text-align:right;

}
nav ul li{
  list-style:none;
  display:inline-block;
  margin:0 20px;
  transition: 0.6s ease-out;
}

nav ul li:hover{
border-bottom:2px solid black;


}
nav ul li a{
  text-decoration:none;
  font-size:12px;
  color:black;
  font-weight:bold;
}
