*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Merriweather', serif;
}
body{
  background:rgb(56, 54, 54);
}

#background.img-fluid{
    background-image:url(images/sunset-3875817_640.jpg);  
  background-position:center;
  background-size:cover;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  backdrop-filter:blur(2px);
  background-attachment:fixed;
}


.glass{
    width: 75%;
    height:60%;
    box-shadow:0 0 10px rgba(255,255,255,1);
    background-image:url(images/sunset-3875817_640.jpg);
    background-size:cover;
}
 
nav{
  display:flex;
  padding:30px 8%;
}
nav ul{
  flex:1;
  text-align:right;

}
nav ul li{
  list-style:none;
  display:inline-block;
  margin:0 20px;
  transition: 0.6s ease-out;
}

nav ul li:hover{
border-bottom:2px solid black;


}
nav ul li a{
  text-decoration:none;
  font-size:12px;
  color:black;
  font-weight:bold;
}
h1{
  color:white;
  margin:0 110px ;
  font-family: 'Merriweather', serif;
  font-size:4rem;
  font-weight:bold;
 letter-spacing:10px;
 opacity:0.6;
 text-align:center;
 position:absolute;
 justify-content:center;

}


/* start of imagge with lists*/












/* end of imagge with lists*/
/*start of card*/
a{
  text-decoration:none;
}
.wrapper{
  padding:125px 0 0 0;
  display:flex;
  flex-direction:column;
  justify-content:center;

}
.services{
  width:1100px;
  height:auto;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  margin:0 auto;
}
.single-img{
  border-radius:5px;
  display:flex;
  flex-direction:column-reverse;
  flex-wrap:nowrap;
  width:325px;
  height:450px;
  overflow:hidden;
  box-shadow:5px 5px 20px rgba(0,0,0,0.3);
  transform:translate(0,0);
  transition:.4s;

}
.single-img:hover{
  transform:translate(0,-9px);
}
.img-1{
  background-image:url(images/buildings-1835647_640.jpg);
  background-size:cover;
  background-position:center center;
}
  .img-2{
    background-image:url(images/madam-tussaud-museum-3705312_640.jpg);
    background-size:cover;
    background-position:center center;
}
.img-3{
  background-image:url(images/empire-state-building-6858030_640.jpg);
  background-size:cover;
  background-position:center center;
}
.img-text{
  background:linear-gradient(to top,rgba(0, 0, 0, 0.9),rgba(255,255,255,0));
  padding:0 10px 5px 10px;
  width:100%;
  height:auto;
  position:relative;
  transform:translate(0,110px);
  line-height:25px;
  transition:0.5s ease;
  display:inline-block;
  text-align:center;
  color:white;
}
.img-text h4{
  line-height:15px;
  padding:0;
  margin:16px 0;
  font-family: 'Tinos', serif;
  font-size:25px;
}
.services button{
  background:rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  padding:10px 35px;
  border:none;
  border-radius:55px;
  line-height:14px;
  display:inline-block;
  margin-bottom:10px;
 

}
.single-img:hover .img-text{
  transform:translate(0,0);
}
@media(max-width:991px){
  .wrapper{
    padding:0;
  }
  .services{
    width:100%;
    display:flex;
    flex-direction:column;
  }
  a{
    margin-bottom:40px;
  }
}
.container{
  margin:100px auto;
  width:75%
}
img{
  max-width:350px;
  display:flex;
  float:left;
  border-radius:10px;
  border:3px solid white;
  margin-right:20px;

}
.text h3{
  font-size:40px;
  padding:5px;
  color:white;
  font-family: 'Tinos', serif;
}
.text h4{
  font-family: 'Merriweather', serif;
  font-size:25px;
  color:white;
}
.text p{
  color:white;
  font-size:15px;
  font-family: 'Merriweather', serif;
}
.text li{
  color:white;
  font-size:13px;
  font-family: 'Merriweather', serif;
}


.card-header{
  font-size:20px;
  color:rgb(235, 230, 230);
  background:rgb(30, 30, 34);
  font-family: 'Merriweather', serif;
}
.card-body{
  background:rgb(56, 55, 55);
  border-radius:3%;
}
.card-body h5{
  color:rgb(173, 170, 170);
  font-family: 'Tinos', serif;
  font-size:20px;
}
.card-text{
  font-size:20px;
  color:white;
  font-family: 'Tinos', serif;
}
.btn btn-primary{
  background-color:black;
}
.card-footer text-body-secondary{
 color:black;
}
